In [1]:
import requests
import urllib.parse
import certifi
import ssl
import geopy
from geopy import Nominatim
import pandas as pd

ctx = ssl.create_default_context(cafile=certifi.where()) 
geopy.geocoders.options.default_ssl_context = ctx     
geolocator = Nominatim(user_agent="geoHQloc", timeout=10)
location = geolocator.geocode("Apple Inc")

In [2]:
stocks_df = pd.read_csv("./resources/stocks_data.csv")
stocks_df.head()

,Ticker,NAME,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN

In [3]:
stocks_df.columns

Index(['Ticker ', 'NAME ', 'open', 'close', 'change', '% change', 'City',
       'State', 'Country', 'LONGITUDE', 'LATITUDE'],
      dtype='object')

In [4]:
stock_df = stocks_df.rename(columns={stocks_df.columns[0]: 'Ticker', stocks_df.columns[1]: "name"}, inplace=True)
stocks_df.head()

,Ticker,name,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN

In [5]:
stocks_df.columns

Index(['Ticker', 'name', 'open', 'close', 'change', '% change', 'City',
       'State', 'Country', 'LONGITUDE', 'LATITUDE'],
      dtype='object')

In [6]:
#NOMATIM method 1 test

address = "Amazon.com, Seattle"
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
print(response[0]["lat"])
print(response[0]["lon"])
print(response)

47.6160553
-122.3401599474359
[{'place_id': 193356451, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 398816073, 'boundingbox': ['47.6156584', '47.6164517', '-122.3407402', '-122.3396116'], 'lat': '47.6160553', 'lon': '-122.3401599474359', 'display_name': 'Amazon.com Day 1, 2121, 7th Avenue, Amazon, Belltown, Seattle, King County, Washington, 98121, United States', 'class': 'building', 'type': 'commercial', 'importance': 0.6880231944676412}, {'place_id': 190341956, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 379950575, 'boundingbox': ['47.614556', '47.6153539', '-122.3388294', '-122.3379659'], 'lat': '47.61494905', 'lon': '-122.33838738248771', 'display_name': 'Amazon.com Doppler, 2021, 7th Avenue, Central Business District, Belltown, Seattle, King County, Washington, 98121, United States', 'class': 'office', 'type': 'yes', 'importance': 0.6780231944676411}, {'place_id': 266564667, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 868099742, 'boundingbox': ['47.6153841', '47.6159081', '-122.3397812', '-122.3390815'], 'lat': '47.6156532', 'lon': '-122.33948224015151', 'display_name': 'Amazon.com The Spheres, 2101, 7th Avenue, Amazon, Belltown, Seattle, King County, Washington, 98121, United States', 'class': 'building', 'type': 'yes', 'importance': 0.6393657532333714}, {'place_id': 149826814, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 203321142, 'boundingbox': ['47.6153508', '47.6159611', '-122.3363981', '-122.335449'], 'lat': '47.61565575', 'lon': '-122.33594145', 'display_name': 'Amazon.com Blackfoot, 1918, 8th Avenue, Central Business District, Belltown, Seattle, King County, Washington, 98101, United States', 'class': 'building', 'type': 'office', 'importance': 0.5769134868042601}, {'place_id': 135740240, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 148411844, 'boundingbox': ['47.6233806', '47.624419', '-122.3357117', '-122.3352143'], 'lat': '47.623695999999995', 'lon': '-122.33546455501404', 'display_name': 'Amazon.com Fiona, 500, Boren Avenue North, Amazon, Belltown, Seattle, King County, Washington, 98109, United States', 'class': 'office', 'type': 'company', 'importance': 0.4780839831692665}, {'place_id': 180778400, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 332219434, 'boundingbox': ['47.6225943', '47.6230369', '-122.3310425', '-122.3305622'], 'lat': '47.6228309', 'lon': '-122.33072065', 'display_name': 'Amazon.com Stackhouse, 447, Yale Avenue North, South Lake Union, First Hill, Seattle, King County, Washington, 98109, United States', 'class': 'office', 'type': 'company', 'importance': 0.43816097156854616}, {'place_id': 136644368, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 148409880, 'boundingbox': ['47.6237383', '47.624441', '-122.3377592', '-122.3372527'], 'lat': '47.624155599999995', 'lon': '-122.33750595', 'display_name': 'Amazon.com Wainwright, 535, Terry Avenue North, Amazon, Belltown, Seattle, King County, Washington, 98109, United States', 'class': 'office', 'type': 'company', 'importance': 0.32100000000000006}, {'place_id': 135675831, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 148412678, 'boundingbox': ['47.6233013', '47.6239556', '-122.3370223', '-122.3365444'], 'lat': '47.6235628', 'lon': '-122.33678239266223', 'display_name': 'Amazon.com Rufus, 550, Terry Avenue North, Amazon, Belltown, Seattle, King County, Washington, 98109, United States', 'class': 'office', 'type': 'company', 'importance': 0.32100000000000006}, {'place_id': 233411424, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 662986605, 'boundingbox': ['47.6171315', '47.6178405', '-122.3410455', '-122.3401032'], 'lat': '47.6175135', 'lon': '-122.3405385531706', 'display_name': 'Amazon.com Nitro North, 7th Avenue, Amazon, Belltown, Seattle, King County, Washington, 98121, United States', 'class': 'building', 'type': 'commercial', 'importance': 0.32100000000000006}, {'place_id': 136146891, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 148410636, 'boundingbox': ['47.6239625', '47.6244451', '-122.3370116', '-122.3359936'], 'lat': '47.6242406', 'lon': '-122.33650294829684', 'display_name': 'Amazon.com Obidos, 551, Boren Avenue North, Amazon, Belltown, Seattle, King County, Washington, 98109, United States', 'class': 'office', 'type': 'company', 'importance': 0.32100000000000006}]

In [7]:
#Nominatim Method 2 Test
geolocator.geocode("Adobe Systems")

Location(Adobe Systems, 601, Townsend Street, West SoMa, San Francisco, California, 94103, United States, (37.770871299999996, -122.40166939390863, 0.0))

In [8]:
geolocator.geocode("Apple Inc")

Location(Apple Store, 12, 銀座ガス灯通り, 銀座3, 銀座, 中央区, 東京都, 104-0061, 日本, (35.672324950000004, 139.7657468, 0.0))

In [9]:
geolocator.geocode("Intel Corporation")

Location(Intel Corporation, 1501, South Mopac Expressway, Austin, Travis County, Texas, 78746, United States, (30.262393449999998, -97.79340260013836, 0.0))

In [10]:
geolocator.geocode("Apple Inc, Cupertino, CA")

Location(Apple Park Visitor Center, 10600, North Tantau Avenue, Cupertino, Santa Clara County, California, 95014, United States, (37.332842850000006, -122.00537444350738, 0.0))

In [11]:
#SAMPLE CODE
#source: https://stackoverflow.com/questions/39291499
#/how-to-concatenate-multiple-column-values-into-a-single-column-in-pandas-datafra

# cols = ['foo', 'bar', 'new']
# df['combined'] = df[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [12]:
cols = ["City", "State"]
stocks_df['GeoSearch'] = stocks_df[cols].apply(lambda row: ", ".join(row.values.astype(str)), axis=1)

In [13]:
stocks_df

,Ticker,name,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE,GeoSearch
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN,"Santa Clara, CA"
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN,"San Jose, CA"
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN,"San Francisco, CA"
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN,"Tempe, AZ"
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN,"Seattle, WA"
...,...,...,...,...,...,...,...,...,...,...,...,...
97,WBA,Walgreens Boots Alliance Inc,46.72,0.57,NaN,NaN,Chicago,IL,NaN,NaN,NaN,"Chicago, IL"
98,WDAY,Workday Inc,245.37,-3.02,NaN,NaN,Pleasanton,CA,NaN,NaN,NaN,"Pleasanton, CA"
99,XEL,Xcel Energy Inc,69.13,1.57,NaN,NaN,Minneapolis,MN,NaN,NaN,NaN,"Minneapolis, MN"
100,ZM,Zoom Video Communications Inc,113.11,-8.5,NaN,NaN,San Jose,CA,NaN,NaN,NaN,"San Jose, CA"
101,ZS,Zscaler Inc,242.03,-12.38,NaN,NaN,San Jose,CA,NaN,NaN,NaN,"San Jose, CA"

In [14]:
stocks_df.dtypes

Ticker        object
name          object
open         float64
close         object
change       float64
% change     float64
City          object
State         object
Country       object
LONGITUDE    float64
LATITUDE     float64
GeoSearch     object
dtype: object

In [15]:
GeoSearch = pd.Series(stocks_df["GeoSearch"])
GeoSearch.head(20)

0       Santa Clara, CA
1          San Jose, CA
2     San Francisco, CA
3             Tempe, AZ
4           Seattle, WA
5     Thousand Oaks, CA
6          Columbus, OH
7           Norwood, MA
8        Canonsburg, PA
9         Capertino, CA
10      Santa Clara, CA
11       Veldhoven, nan
12          Sydney, nan
13       San Rafael, CA
14       San Monica, CA
15         Roseland, NJ
16       Cambridge, nan
17         San Jose, CA
18         Beijing, nan
19        Cambridge, MA
Name: GeoSearch, dtype: object

In [16]:
GeoSearch[4]

'Seattle, WA'

In [17]:
GeoSearch.dtypes

dtype('O')

In [18]:
#GeoSearch = GeoSearch.to_string()

In [19]:
#GeoSearch.dtypes

In [20]:
#address = GeoSearch[4]
address = "Amazon.com Inc, Seattle, WA"
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
#print(response[0]["lat"])
#print(response[0]["lon"])
print(response)

[]

In [21]:
geolocator.geocode(GeoSearch[9])

Location(Capertino Street, Charleston Heights, Las Vegas, Clark County, Nevada, 89146-1126, United States, (36.167269, -115.245979, 0.0))

In [22]:
geolocator.geocode("Amazon.com Inc, Seattle, WA")

In [23]:
geolocator.geocode("Amazon.com, Seattle, WA")

Location(Amazon.com Day 1, 2121, 7th Avenue, Amazon, Belltown, Seattle, King County, Washington, 98121, United States, (47.6160553, -122.3401599474359, 0.0))

In [24]:
print(geolocator.geocode('Advanced Micro Devices Inc, Santa Clara, CA'))

None

In [25]:
geolocator.geocode("Advanced Micro Devices")

Location(Advanced Micro Devices, 2485, Augustine Drive, Santa Clara, Santa Clara County, California, 95054, United States, (37.3829605, -121.9703774, 0.0))

In [26]:
geolocator.geocode("Advanced Micro Devices, Santa Clara, CA")

Location(Advanced Micro Devices, 2485, Augustine Drive, Santa Clara, Santa Clara County, California, 95054, United States, (37.3829605, -121.9703774, 0.0))

In [27]:
#for geo in GeoSearch:
#    print(geolocator.geocode(GeoSearch[geo]))

In [28]:
test = 'test.com'
print(test.strip('.com'))

test

In [29]:
#data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

In [30]:
stocks_df.head(10)

,Ticker,name,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE,GeoSearch
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN,"Santa Clara, CA"
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN,"San Jose, CA"
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN,"San Francisco, CA"
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN,"Tempe, AZ"
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN,"Seattle, WA"
5,AMGN,Amgen Inc,232.64,4.05,NaN,NaN,Thousand Oaks,CA,US,NaN,NaN,"Thousand Oaks, CA"
6,AEP,American Electric Power Company Inc,93.98,2.74,NaN,NaN,Columbus,OH,US,NaN,NaN,"Columbus, OH"
7,ADI,Analog Devices Inc,159.28,-0.54,NaN,NaN,Norwood,MA,US,NaN,NaN,"Norwood, MA"
8,ANSS,ANSYS Inc,316.24,-7.01,NaN,NaN,Canonsburg,PA,US,NaN,NaN,"Canonsburg, PA"
9,AAPL,Apple Inc,166.23,-0.33,NaN,NaN,Capertino,CA,US,NaN,NaN,"Capertino, CA"

In [31]:
GeoSearch.head(20)

0       Santa Clara, CA
1          San Jose, CA
2     San Francisco, CA
3             Tempe, AZ
4           Seattle, WA
5     Thousand Oaks, CA
6          Columbus, OH
7           Norwood, MA
8        Canonsburg, PA
9         Capertino, CA
10      Santa Clara, CA
11       Veldhoven, nan
12          Sydney, nan
13       San Rafael, CA
14       San Monica, CA
15         Roseland, NJ
16       Cambridge, nan
17         San Jose, CA
18         Beijing, nan
19        Cambridge, MA
Name: GeoSearch, dtype: object

In [32]:
#df["Date"] = df["Date"].str.replace("\s:00", "")

GeoSearch_test = GeoSearch.str.replace("\sInc","")

/var/folders/s0/4pw78f5x71s0c1tjvk4mtcyr0000gn/T/ipykernel_47509/260118039.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  GeoSearch_test = GeoSearch.str.replace("\sInc","")

In [33]:
GeoSearch_test.head (20)

0       Santa Clara, CA
1          San Jose, CA
2     San Francisco, CA
3             Tempe, AZ
4           Seattle, WA
5     Thousand Oaks, CA
6          Columbus, OH
7           Norwood, MA
8        Canonsburg, PA
9         Capertino, CA
10      Santa Clara, CA
11       Veldhoven, nan
12          Sydney, nan
13       San Rafael, CA
14       San Monica, CA
15         Roseland, NJ
16       Cambridge, nan
17         San Jose, CA
18         Beijing, nan
19        Cambridge, MA
Name: GeoSearch, dtype: object

In [34]:
#GeoSearch = GeoSearch.str.replace(".","")
#Geosearch = GeoSearch.str.replace("\s", "")

In [35]:
GeoSearch_test2 = GeoSearch.str.replace("\sInc.","")
GeoSearch_test2.head(25)

/var/folders/s0/4pw78f5x71s0c1tjvk4mtcyr0000gn/T/ipykernel_47509/661696131.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  GeoSearch_test2 = GeoSearch.str.replace("\sInc.","")

0       Santa Clara, CA
1          San Jose, CA
2     San Francisco, CA
3             Tempe, AZ
4           Seattle, WA
5     Thousand Oaks, CA
6          Columbus, OH
7           Norwood, MA
8        Canonsburg, PA
9         Capertino, CA
10      Santa Clara, CA
11       Veldhoven, nan
12          Sydney, nan
13       San Rafael, CA
14       San Monica, CA
15         Roseland, NJ
16       Cambridge, nan
17         San Jose, CA
18         Beijing, nan
19        Cambridge, MA
20           Novato, CA
21          Norwalk, CT
22         San Jose, CA
23         Stamford, CT
24           Dallas, TX
Name: GeoSearch, dtype: object

In [36]:
geolocator.geocode("Advanced Micro Devices Santa Clara, CA")

Location(Advanced Micro Devices, 2485, Augustine Drive, Santa Clara, Santa Clara County, California, 95054, United States, (37.3829605, -121.9703774, 0.0))

In [37]:
geolocator.geocode(GeoSearch_test2[0])

Location(Santa Clara County, California, United States, (37.2333253, -121.6846349, 0.0))

In [38]:
from geopy.exc import GeocoderTimedOut

In [39]:
# for geo in GeoSearch:
 
#     print(geolocator.geocode(geo))

In [61]:
GeoSearch_test2.all()

True

In [57]:
# For loop with index should any coordinates cause error and easily identifiable 
long_lat = []
for idx, geo in enumerate(GeoSearch):
    address = geo
    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

    response = requests.get(url).json()
    results = print(idx, response[0]["lat"], response[0]["lon"])
    long_lat.append(results)
    #print(response[0]["lon"])

0 37.2333253 -121.6846349
1 37.3361905 -121.890583
2 37.7790262 -122.419906
3 33.4255056 -111.9400091
4 47.6038321 -122.3300624
5 34.1705609 -118.8375937
6 39.9622601 -83.0007065
7 42.194543 -71.1994976
8 40.2625702 -80.1872797
9 36.167269 -115.245979
10 37.2333253 -121.6846349
11 51.8324687 4.3433272
12 -33.8548157 151.2164539
13 37.9735346 -122.5310874
14 34.084745 -118.3845421
15 40.8206555 -74.2937595
16 34.0776292 -81.9584496
17 37.3361905 -121.890583
18 40.1211615 116.6147553
19 42.3750997 -71.1056157
20 38.1061979 -122.5681191
21 41.1175966 -73.4078968
22 37.3361905 -121.890583
23 41.0534302 -73.5387341
24 32.7762719 -96.7968559
25 30.2711286 -97.7436995
26 39.1014537 -84.5124602
27 37.3361905 -121.890583
28 34.2576067 -88.7033859
29 47.5348778 -122.0432974
30 30.3321838 -81.655651
31 40.8860164 -74.0072568
32 40.7127281 -74.0060152
33 37.7790262 -122.419906
34 32.7174202 -117.1627728
35 36.7183708 -76.2466798
36 37.4863239 -122.232523
37 37.3361905 -121.890583
38 41.8755616 -87.6244212
39 43.9582272 -91.7807784
40 37.4519671 -122.1779927
41 43.0605671 -88.1064787
42 37.3688301 -122.036349
43 37.5600336 -122.2688522
44 37.3893889 -122.0832101
45 37.3893889 -122.0832101
46 35.2272086 -80.8430827
47 32.7174202 -117.1627728
48 37.3893889 -122.0832101
49 37.3893889 -122.0832101
50 37.3688301 -122.036349
51 39.7459468 -75.546589
52 43.6763036 -70.3663874
53 43.6763036 -70.3663874
54 33.0136764 -96.6925096
55 37.4282771 -121.9069256
56 41.8755616 -87.6244212
57 37.5482697 -121.988571
58 37.5296593 -122.0402399
59 47.2234801 -1.6313602
60 -7.728 -35.341448275862064
61 38.9074322 -77.0350922
62 32.7762719 -96.7968559
63 33.3061605 -111.84125
64 41.8755616 -87.6244212
65 42.3750997 -71.1056157
66 33.8752945 -117.5664449
67 47.6694141 -122.1238767
68 43.6166163 -116.200886
69 37.226611 -121.9746797
70 30.2368729 120.42912444938366
71 37.2333253 -121.6846349
72 51.4494763 5.5387065
73 37.7790262 -122.419906
74 35.8831786 -80.081817
75 37.2166779 -93.2920373
76 47.6144219 -122.192337
77 37.2333253 -121.6846349
78 43.157285 -77.615214
79 31.2515439 121.45111114785493
80 37.3361905 -121.890583
81 41.0195135 -73.71116374834502
82 32.7174202 -117.1627728
83 41.065585999999996 -73.86732932133876
84 37.6261715 -122.4332435
85 40.7127281 -74.0060152
86 47.7598697 -122.2068288
87 37.7790262 -122.419906
88 33.6856969 -117.8259819
89 47.6038321 -122.3300624
90 37.3893889 -122.0832101
91 30.2711286 -97.7436995
92 32.7762719 -96.7968559
93 47.6144219 -122.192337
94 38.9583737 -77.3579805
95 40.7215682 -74.047455
96 42.3602534 -71.0582912
97 41.8755616 -87.6244212
98 37.6624312 -121.8746789
99 44.9772995 -93.2654692
100 37.3361905 -121.890583
101 37.3361905 -121.890583

In [66]:
long_lat = []
for idx, geo in enumerate(GeoSearch):
    address = geo
    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

    response = requests.get(url).json()
    results = idx, response[0]["lat"], response[0]["lon"]
    long_lat.append(results)
    coordinates_s = pd.Series(long_lat)
    print(coordinates_s)
    #print(response[0]["lon"])

0    (0, 37.2333253, -121.6846349)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
7      (7, 42.194543, -71.1994976)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
7      (7, 42.194543, -71.1994976)
8     (8, 40.2625702, -80.1872797)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
7      (7, 42.194543, -71.1994976)
8     (8, 40.2625702, -80.1872797)
9      (9, 36.167269, -115.245979)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
54     (54, 33.0136764, -96.6925096)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
54     (54, 33.0136764, -96.6925096)
55    (55, 37.4282771, -121.9069256)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
54     (54, 33.0136764, -96.6925096)
55    (55, 37.4282771, -121.9069256)
56     (56, 41.8755616, -87.6244212)
dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
54     (54, 33.0136764, -96.6925096)
55    (55, 37.4282771, -121.9069256)
56     (56, 41.8755616, -87.6244212)
57     (57, 37.5482697, -121.988571)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
54     (54, 33.0136764, -96.6925096)
55    (55, 37.4282771, -121.9069256)
56     (56, 41.8755616, -87.6244212)
57     (57, 37.5482697, -121.988571)
58    (58, 37.5296593, -122.0402399)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
11       (11, 51.8324687, 4.3433272)
12    (12, -33.8548157, 151.2164539)
13    (13, 37.9735346, -122.5310874)
14     (14, 34.084745, -118.3845421)
15     (15, 40.8206555, -74.2937595)
16     (16, 34.0776292, -81.9584496)
17     (17, 37.3361905, -121.890583)
18     (18, 40.1211615, 116.6147553)
19     (19, 42.3750997, -71.1056157)
20    (20, 38.1061979, -122.5681191)
21     (21, 41.1175966, -73.4078968)
22     (22, 37.3361905, -121.890583)
23     (23, 41.0534302, -73.5387341)
24     (24, 32.7762719, -96.7968559)
25     (25, 30.2711286, -97.7436995)
26     (26, 39.1014537, -84.5124602)
27     (27, 37.3361905, -121.890583)
28     (28, 34.2576067, -88.7033859)
29    (29, 47.5348778, -122.0432974)
30      (30, 30.3321838, -81.655651)
31     (31, 40.8860164, -74.0072568)
32     (32, 40.7127281, -74.0060152)
33     (33, 37.7790262, -122.419906)
34    (34, 32.7174202, -117.1627728)
35     (35, 36.7183708, -76.2466798)
36     (36, 37.4863239, -122.232523)
37     (37, 37.3361905, -121.890583)
38     (38, 41.8755616, -87.6244212)
39     (39, 43.9582272, -91.7807784)
40    (40, 37.4519671, -122.1779927)
41     (41, 43.0605671, -88.1064787)
42     (42, 37.3688301, -122.036349)
43    (43, 37.5600336, -122.2688522)
44    (44, 37.3893889, -122.0832101)
45    (45, 37.3893889, -122.0832101)
46     (46, 35.2272086, -80.8430827)
47    (47, 32.7174202, -117.1627728)
48    (48, 37.3893889, -122.0832101)
49    (49, 37.3893889, -122.0832101)
50     (50, 37.3688301, -122.036349)
51      (51, 39.7459468, -75.546589)
52     (52, 43.6763036, -70.3663874)
53     (53, 43.6763036, -70.3663874)
54     (54, 33.0136764, -96.6925096)
55    (55, 37.4282771, -121.9069256)
56     (56, 41.8755616, -87.6244212)
57     (57, 37.5482697, -121.988571)
58    (58, 37.5296593, -122.0402399)
59      (59, 47.2234801, -1.6313602)
dtype: object
0         (0, 37.2333253, -121.6846349)
1          (1, 37.3361905, -121.890583)
2          (2, 37.7790262, -122.419906)
3         (3, 33.4255056, -111.9400091)
4         (4, 47.6038321, -122.3300624)
                    ...
56        (56, 41.8755616, -87.6244212)
57        (57, 37.5482697, -121.988571)
58       (58, 37.5296593, -122.0402399)
59         (59, 47.2234801, -1.6313602)
60    (60, -7.728, -35.341448275862064)
Length: 61, dtype: object
0         (0, 37.2333253, -121.6846349)
1          (1, 37.3361905, -121.890583)
2          (2, 37.7790262, -122.419906)
3         (3, 33.4255056, -111.9400091)
4         (4, 47.6038321, -122.3300624)
                    ...
57        (57, 37.5482697, -121.988571)
58       (58, 37.5296593, -122.0402399)
59         (59, 47.2234801, -1.6313602)
60    (60, -7.728, -35.341448275862064)
61        (61, 38.9074322, -77.0350922)
Length: 62, dtype: object
0         (0, 37.2333253, -121.6846349)
1          (1, 37.3361905, -121.890583)
2          (2, 37.7790262, -122.419906)
3         (3, 33.4255056, -111.9400091)
4         (4, 47.6038321, -122.3300624)
                    ...
58       (58, 37.5296593, -122.0402399)
59         (59, 47.2234801, -1.6313602)
60    (60, -7.728, -35.341448275862064)
61        (61, 38.9074322, -77.0350922)
62        (62, 32.7762719, -96.7968559)
Length: 63, dtype: object
0         (0, 37.2333253, -121.6846349)
1          (1, 37.3361905, -121.890583)
2          (2, 37.7790262, -122.419906)
3         (3, 33.4255056, -111.9400091)
4         (4, 47.6038321, -122.3300624)
                    ...
59         (59, 47.2234801, -1.6313602)
60    (60, -7.728, -35.341448275862064)
61        (61, 38.9074322, -77.0350922)
62        (62, 32.7762719, -96.7968559)
63         (63, 33.3061605, -111.84125)
Length: 64, dtype: object

0         (0, 37.2333253, -121.6846349)
1          (1, 37.3361905, -121.890583)
2          (2, 37.7790262, -122.419906)
3         (3, 33.4255056, -111.9400091)
4         (4, 47.6038321, -122.3300624)
                    ...
60    (60, -7.728, -35.341448275862064)
61        (61, 38.9074322, -77.0350922)
62        (62, 32.7762719, -96.7968559)
63         (63, 33.3061605, -111.84125)
64        (64, 41.8755616, -87.6244212)
Length: 65, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
61    (61, 38.9074322, -77.0350922)
62    (62, 32.7762719, -96.7968559)
63     (63, 33.3061605, -111.84125)
64    (64, 41.8755616, -87.6244212)
65    (65, 42.3750997, -71.1056157)
Length: 66, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
62     (62, 32.7762719, -96.7968559)
63      (63, 33.3061605, -111.84125)
64     (64, 41.8755616, -87.6244212)
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
Length: 67, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
63      (63, 33.3061605, -111.84125)
64     (64, 41.8755616, -87.6244212)
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
Length: 68, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
64     (64, 41.8755616, -87.6244212)
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
68     (68, 43.6166163, -116.200886)
Length: 69, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
68     (68, 43.6166163, -116.200886)
69     (69, 37.226611, -121.9746797)
Length: 70, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
66          (66, 33.8752945, -117.5664449)
67          (67, 47.6694141, -122.1238767)
68           (68, 43.6166163, -116.200886)
69           (69, 37.226611, -121.9746797)
70    (70, 30.2368729, 120.42912444938366)
Length: 71, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
67          (67, 47.6694141, -122.1238767)
68           (68, 43.6166163, -116.200886)
69           (69, 37.226611, -121.9746797)
70    (70, 30.2368729, 120.42912444938366)
71          (71, 37.2333253, -121.6846349)
Length: 72, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
68           (68, 43.6166163, -116.200886)
69           (69, 37.226611, -121.9746797)
70    (70, 30.2368729, 120.42912444938366)
71          (71, 37.2333253, -121.6846349)
72             (72, 51.4494763, 5.5387065)
Length: 73, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
69           (69, 37.226611, -121.9746797)
70    (70, 30.2368729, 120.42912444938366)
71          (71, 37.2333253, -121.6846349)
72             (72, 51.4494763, 5.5387065)
73           (73, 37.7790262, -122.419906)
Length: 74, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
70    (70, 30.2368729, 120.42912444938366)
71          (71, 37.2333253, -121.6846349)
72             (72, 51.4494763, 5.5387065)
73           (73, 37.7790262, -122.419906)
74            (74, 35.8831786, -80.081817)
Length: 75, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
71    (71, 37.2333253, -121.6846349)
72       (72, 51.4494763, 5.5387065)
73     (73, 37.7790262, -122.419906)
74      (74, 35.8831786, -80.081817)
75     (75, 37.2166779, -93.2920373)
Length: 76, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
72      (72, 51.4494763, 5.5387065)
73    (73, 37.7790262, -122.419906)
74     (74, 35.8831786, -80.081817)
75    (75, 37.2166779, -93.2920373)
76    (76, 47.6144219, -122.192337)
Length: 77, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
73     (73, 37.7790262, -122.419906)
74      (74, 35.8831786, -80.081817)
75     (75, 37.2166779, -93.2920373)
76     (76, 47.6144219, -122.192337)
77    (77, 37.2333253, -121.6846349)
Length: 78, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
74      (74, 35.8831786, -80.081817)
75     (75, 37.2166779, -93.2920373)
76     (76, 47.6144219, -122.192337)
77    (77, 37.2333253, -121.6846349)
78       (78, 43.157285, -77.615214)
Length: 79, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
75           (75, 37.2166779, -93.2920373)
76           (76, 47.6144219, -122.192337)
77          (77, 37.2333253, -121.6846349)
78             (78, 43.157285, -77.615214)
79    (79, 31.2515439, 121.45111114785493)
Length: 80, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
76           (76, 47.6144219, -122.192337)
77          (77, 37.2333253, -121.6846349)
78             (78, 43.157285, -77.615214)
79    (79, 31.2515439, 121.45111114785493)
80           (80, 37.3361905, -121.890583)
Length: 81, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
77          (77, 37.2333253, -121.6846349)
78             (78, 43.157285, -77.615214)
79    (79, 31.2515439, 121.45111114785493)
80           (80, 37.3361905, -121.890583)
81    (81, 41.0195135, -73.71116374834502)
Length: 82, dtype: object

0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
78             (78, 43.157285, -77.615214)
79    (79, 31.2515439, 121.45111114785493)
80           (80, 37.3361905, -121.890583)
81    (81, 41.0195135, -73.71116374834502)
82          (82, 32.7174202, -117.1627728)
Length: 83, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
79            (79, 31.2515439, 121.45111114785493)
80                   (80, 37.3361905, -121.890583)
81            (81, 41.0195135, -73.71116374834502)
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
Length: 84, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
80                   (80, 37.3361905, -121.890583)
81            (81, 41.0195135, -73.71116374834502)
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
Length: 85, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
81            (81, 41.0195135, -73.71116374834502)
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
85                   (85, 40.7127281, -74.0060152)
Length: 86, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
85                   (85, 40.7127281, -74.0060152)
86                  (86, 47.7598697, -122.2068288)
Length: 87, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
85                   (85, 40.7127281, -74.0060152)
86                  (86, 47.7598697, -122.2068288)
87                   (87, 37.7790262, -122.419906)
Length: 88, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
84    (84, 37.6261715, -122.4332435)
85     (85, 40.7127281, -74.0060152)
86    (86, 47.7598697, -122.2068288)
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
Length: 89, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
85     (85, 40.7127281, -74.0060152)
86    (86, 47.7598697, -122.2068288)
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
Length: 90, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
86    (86, 47.7598697, -122.2068288)
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
Length: 91, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
Length: 92, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
92     (92, 32.7762719, -96.7968559)
Length: 93, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
92     (92, 32.7762719, -96.7968559)
93     (93, 47.6144219, -122.192337)
Length: 94, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
92     (92, 32.7762719, -96.7968559)
93     (93, 47.6144219, -122.192337)
94     (94, 38.9583737, -77.3579805)
Length: 95, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
91    (91, 30.2711286, -97.7436995)
92    (92, 32.7762719, -96.7968559)
93    (93, 47.6144219, -122.192337)
94    (94, 38.9583737, -77.3579805)
95     (95, 40.7215682, -74.047455)
Length: 96, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
92    (92, 32.7762719, -96.7968559)
93    (93, 47.6144219, -122.192337)
94    (94, 38.9583737, -77.3579805)
95     (95, 40.7215682, -74.047455)
96    (96, 42.3602534, -71.0582912)
Length: 97, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
93    (93, 47.6144219, -122.192337)
94    (94, 38.9583737, -77.3579805)
95     (95, 40.7215682, -74.047455)
96    (96, 42.3602534, -71.0582912)
97    (97, 41.8755616, -87.6244212)
Length: 98, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
94     (94, 38.9583737, -77.3579805)
95      (95, 40.7215682, -74.047455)
96     (96, 42.3602534, -71.0582912)
97     (97, 41.8755616, -87.6244212)
98    (98, 37.6624312, -121.8746789)
Length: 99, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
95      (95, 40.7215682, -74.047455)
96     (96, 42.3602534, -71.0582912)
97     (97, 41.8755616, -87.6244212)
98    (98, 37.6624312, -121.8746789)
99     (99, 44.9772995, -93.2654692)
Length: 100, dtype: object

0       (0, 37.2333253, -121.6846349)
1        (1, 37.3361905, -121.890583)
2        (2, 37.7790262, -122.419906)
3       (3, 33.4255056, -111.9400091)
4       (4, 47.6038321, -122.3300624)
                    ...
96      (96, 42.3602534, -71.0582912)
97      (97, 41.8755616, -87.6244212)
98     (98, 37.6624312, -121.8746789)
99      (99, 44.9772995, -93.2654692)
100    (100, 37.3361905, -121.890583)
Length: 101, dtype: object
0       (0, 37.2333253, -121.6846349)
1        (1, 37.3361905, -121.890583)
2        (2, 37.7790262, -122.419906)
3       (3, 33.4255056, -111.9400091)
4       (4, 47.6038321, -122.3300624)
                    ...
97      (97, 41.8755616, -87.6244212)
98     (98, 37.6624312, -121.8746789)
99      (99, 44.9772995, -93.2654692)
100    (100, 37.3361905, -121.890583)
101    (101, 37.3361905, -121.890583)
Length: 102, dtype: object

In [67]:
coordinates_s

0       (0, 37.2333253, -121.6846349)
1        (1, 37.3361905, -121.890583)
2        (2, 37.7790262, -122.419906)
3       (3, 33.4255056, -111.9400091)
4       (4, 47.6038321, -122.3300624)
                    ...
97      (97, 41.8755616, -87.6244212)
98     (98, 37.6624312, -121.8746789)
99      (99, 44.9772995, -93.2654692)
100    (100, 37.3361905, -121.890583)
101    (101, 37.3361905, -121.890583)
Length: 102, dtype: object

In [42]:
GeoSearch[30]

'Jacksonville, FL'

In [43]:
address = "Shanghai, CN"
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
print(response[0]["lat"])
print(response[0]["lon"])
#print(response)

31.2322758
121.4692071

In [44]:
stocks_df.head()

,Ticker,name,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE,GeoSearch
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN,"Santa Clara, CA"
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN,"San Jose, CA"
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN,"San Francisco, CA"
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN,"Tempe, AZ"
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN,"Seattle, WA"

In [50]:
stocks_df.drop(["LONGITUDE","LATITUDE"], axis=1)

KeyError: "['LONGITUDE' 'LATITUDE'] not found in axis"

In [51]:
stocks_df

,Ticker,name,open,close,change,% change,City,State,Country,GeoSearch
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,"Santa Clara, CA"
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,"San Jose, CA"
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,"San Francisco, CA"
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,"Tempe, AZ"
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,"Seattle, WA"
...,...,...,...,...,...,...,...,...,...,...
97,WBA,Walgreens Boots Alliance Inc,46.72,0.57,NaN,NaN,Chicago,IL,NaN,"Chicago, IL"
98,WDAY,Workday Inc,245.37,-3.02,NaN,NaN,Pleasanton,CA,NaN,"Pleasanton, CA"
99,XEL,Xcel Energy Inc,69.13,1.57,NaN,NaN,Minneapolis,MN,NaN,"Minneapolis, MN"
100,ZM,Zoom Video Communications Inc,113.11,-8.5,NaN,NaN,San Jose,CA,NaN,"San Jose, CA"
101,ZS,Zscaler Inc,242.03,-12.38,NaN,NaN,San Jose,CA,NaN,"San Jose, CA"