In [1]:
#import dependencies
import requests
import urllib.parse
import geopy
import pandas as pd

In [2]:
stocks_df = pd.read_csv("./resources/stocks_data.csv")
stocks_df.head()

,Ticker,NAME,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN

In [3]:
stocks_df.columns

Index(['Ticker ', 'NAME ', 'open', 'close', 'change', '% change', 'City',
       'State', 'Country', 'LONGITUDE', 'LATITUDE'],
      dtype='object')

In [4]:
stock_df = stocks_df.rename(columns={stocks_df.columns[0]: 'ticker', stocks_df.columns[1]: 'name', 
                                     stocks_df.columns[6]: 'city', stocks_df.columns[7]: 'state',
                                     stocks_df.columns[8]: 'country'},inplace=True)
stocks_df.head()

,ticker,name,open,close,change,% change,city,state,country,LONGITUDE,LATITUDE
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN

In [5]:
stocks_df = stocks_df.drop(["LONGITUDE", "LATITUDE"], axis=1) 
stocks_df.head()

,ticker,name,open,close,change,% change,city,state,country
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US

In [6]:
cols = ["city", "state"]
city_state_s = stocks_df[cols].apply(lambda row: ", ".join(row.values.astype(str)), axis=1)
GeoSearch = pd.Series(city_state_s)
GeoSearch.head(15)

0       Santa Clara, CA
1          San Jose, CA
2     San Francisco, CA
3             Tempe, AZ
4           Seattle, WA
5     Thousand Oaks, CA
6          Columbus, OH
7           Norwood, MA
8        Canonsburg, PA
9         Capertino, CA
10      Santa Clara, CA
11        Veldhoven, NL
12          Sydney, AUS
13       San Rafael, CA
14       San Monica, CA
dtype: object

In [8]:
# For loop with index should any coordinates cause error and easily identifiable 
# test code to make sure it works
long_lat = []
for idx, geo in enumerate(GeoSearch):
    address = geo
    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

    response = requests.get(url).json()
    results = idx, response[0]["lat"], response[0]["lon"]
    long_lat.append(results)
    coordinates_s = pd.Series(long_lat)
    print(coordinates_s)
    #print(response[0]["lon"])

0    (0, 37.2333253, -121.6846349)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
7      (7, 42.194543, -71.1994976)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
7      (7, 42.194543, -71.1994976)
8     (8, 40.2625702, -80.1872797)
dtype: object
0    (0, 37.2333253, -121.6846349)
1     (1, 37.3361905, -121.890583)
2     (2, 37.7790262, -122.419906)
3    (3, 33.4255056, -111.9400091)
4    (4, 47.6038321, -122.3300624)
5    (5, 34.1705609, -118.8375937)
6     (6, 39.9622601, -83.0007065)
7      (7, 42.194543, -71.1994976)
8     (8, 40.2625702, -80.1872797)
9      (9, 36.167269, -115.245979)
dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
5      (5, 34.1705609, -118.8375937)
6       (6, 39.9622601, -83.0007065)
7        (7, 42.194543, -71.1994976)
8       (8, 40.2625702, -80.1872797)
9        (9, 36.167269, -115.245979)
10    (10, 37.2333253, -121.6846349)
dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
5            (5, 34.1705609, -118.8375937)
6             (6, 39.9622601, -83.0007065)
7              (7, 42.194543, -71.1994976)
8             (8, 40.2625702, -80.1872797)
9              (9, 36.167269, -115.245979)
10          (10, 37.2333253, -121.6846349)
11    (11, 51.40770635, 5.392731058176404)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
53             (53, 43.6763036, -70.3663874)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
53             (53, 43.6763036, -70.3663874)
54             (54, 33.0136764, -96.6925096)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
53             (53, 43.6763036, -70.3663874)
54             (54, 33.0136764, -96.6925096)
55            (55, 37.4282771, -121.9069256)
dtype: object

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
53             (53, 43.6763036, -70.3663874)
54             (54, 33.0136764, -96.6925096)
55            (55, 37.4282771, -121.9069256)
56             (56, 41.8755616, -87.6244212)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
53             (53, 43.6763036, -70.3663874)
54             (54, 33.0136764, -96.6925096)
55            (55, 37.4282771, -121.9069256)
56             (56, 41.8755616, -87.6244212)
57             (57, 37.5482697, -121.988571)
dtype: object
0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
20            (20, 38.1061979, -122.5681191)
21             (21, 41.1175966, -73.4078968)
22             (22, 37.3361905, -121.890583)
23             (23, 41.0534302, -73.5387341)
24             (24, 32.7762719, -96.7968559)
25             (25, 30.2711286, -97.7436995)
26             (26, 39.1014537, -84.5124602)
27             (27, 37.3361905, -121.890583)
28             (28, 34.2576067, -88.7033859)
29            (29, 47.5348778, -122.0432974)
30              (30, 30.3321838, -81.655651)
31             (31, 40.8860164, -74.0072568)
32             (32, 40.7127281, -74.0060152)
33             (33, 37.7790262, -122.419906)
34            (34, 32.7174202, -117.1627728)
35             (35, 36.7183708, -76.2466798)
36             (36, 37.4863239, -122.232523)
37             (37, 37.3361905, -121.890583)
38             (38, 41.8755616, -87.6244212)
39             (39, 43.9582272, -91.7807784)
40            (40, 37.4519671, -122.1779927)
41             (41, 43.0605671, -88.1064787)
42             (42, 37.3688301, -122.036349)
43            (43, 37.5600336, -122.2688522)
44            (44, 37.3893889, -122.0832101)
45            (45, 37.3893889, -122.0832101)
46             (46, 35.2272086, -80.8430827)
47            (47, 32.7174202, -117.1627728)
48            (48, 37.3893889, -122.0832101)
49            (49, 37.3893889, -122.0832101)
50             (50, 37.3688301, -122.036349)
51              (51, 39.7459468, -75.546589)
52             (52, 43.6763036, -70.3663874)
53             (53, 43.6763036, -70.3663874)
54             (54, 33.0136764, -96.6925096)
55            (55, 37.4282771, -121.9069256)
56             (56, 41.8755616, -87.6244212)
57             (57, 37.5482697, -121.988571)
58            (58, 37.5296593, -122.0402399)
dtype: object
0                     (0, 37.2333253, -121.6846349)
1                      (1, 37.3361905, -121.890583)
2                      (2, 37.7790262, -122.419906)
3                     (3, 33.4255056, -111.9400091)
4                     (4, 47.6038321, -122.3300624)
5                     (5, 34.1705609, -118.8375937)
6                      (6, 39.9622601, -83.0007065)
7                       (7, 42.194543, -71.1994976)
8                      (8, 40.2625702, -80.1872797)
9                       (9, 36.167269, -115.245979)
10                   (10, 37.2333253, -121.6846349)
11             (11, 51.40770635, 5.392731058176404)
12           (12, -33.91840985, 150.99831672965283)
13                   (13, 37.9735346, -122.5310874)
14                    (14, 34.084745, -118.3845421)
15                    (15, 40.8206555, -74.2937595)
16                      (16, 52.2055314, 0.1186637)
17                    (17, 37.3361905, -121.890583)
18                     (18, 39.906217, 116.3912757)
19                    (19, 42.3750997, -71.1056157)
20                   (20, 38.1061979, -122.5681191)
21                    (21, 41.1175966, -73.4078968)
22                    (22, 37.3361905, -121.890583)
23                    (23, 41.0534302, -73.5387341)
24                    (24, 32.7762719, -96.7968559)
25                    (25, 30.2711286, -97.7436995)
26                    (26, 39.1014537, -84.5124602)
27                    (27, 37.3361905, -121.890583)
28                    (28, 34.2576067, -88.7033859)
29                   (29, 47.5348778, -122.0432974)
30                     (30, 30.3321838, -81.655651)
31                    (31, 40.8860164, -74.0072568)
32                    (32, 40.7127281, -74.0060152)
33                    (33, 37.7790262, -122.419906)
34                   (34, 32.7174202, -117.1627728)
35                    (35, 36.7183708, -76.2466798)
36                    (36, 37.4863239, -122.232523)
37                    (37, 37.3361905, -121.890583)
38                    (38, 41.8755616, -87.6244212)
39                    (39, 43.9582272, -91.7807784)
40                   (40, 37.4519671, -122.1779927)
41                    (41, 43.0605671, -88.1064787)
42                    (42, 37.3688301, -122.036349)
43                   (43, 37.5600336, -122.2688522)
44                   (44, 37.3893889, -122.0832101)
45                   (45, 37.3893889, -122.0832101)
46                    (46, 35.2272086, -80.8430827)
47                   (47, 32.7174202, -117.1627728)
48                   (48, 37.3893889, -122.0832101)
49                   (49, 37.3893889, -122.0832101)
50                    (50, 37.3688301, -122.036349)
51                     (51, 39.7459468, -75.546589)
52                    (52, 43.6763036, -70.3663874)
53                    (53, 43.6763036, -70.3663874)
54                    (54, 33.0136764, -96.6925096)
55                   (55, 37.4282771, -121.9069256)
56                    (56, 41.8755616, -87.6244212)
57                    (57, 37.5482697, -121.988571)
58                   (58, 37.5296593, -122.0402399)
59    (59, 49.156692500000005, -122.77402374836214)
dtype: object

0                     (0, 37.2333253, -121.6846349)
1                      (1, 37.3361905, -121.890583)
2                      (2, 37.7790262, -122.419906)
3                     (3, 33.4255056, -111.9400091)
4                     (4, 47.6038321, -122.3300624)
                          ...
56                    (56, 41.8755616, -87.6244212)
57                    (57, 37.5482697, -121.988571)
58                   (58, 37.5296593, -122.0402399)
59    (59, 49.156692500000005, -122.77402374836214)
60                   (60, -34.6075682, -58.4370894)
Length: 61, dtype: object
0                     (0, 37.2333253, -121.6846349)
1                      (1, 37.3361905, -121.890583)
2                      (2, 37.7790262, -122.419906)
3                     (3, 33.4255056, -111.9400091)
4                     (4, 47.6038321, -122.3300624)
                          ...
57                    (57, 37.5482697, -121.988571)
58                   (58, 37.5296593, -122.0402399)
59    (59, 49.156692500000005, -122.77402374836214)
60                   (60, -34.6075682, -58.4370894)
61                    (61, 38.9074322, -77.0350922)
Length: 62, dtype: object
0                     (0, 37.2333253, -121.6846349)
1                      (1, 37.3361905, -121.890583)
2                      (2, 37.7790262, -122.419906)
3                     (3, 33.4255056, -111.9400091)
4                     (4, 47.6038321, -122.3300624)
                          ...
58                   (58, 37.5296593, -122.0402399)
59    (59, 49.156692500000005, -122.77402374836214)
60                   (60, -34.6075682, -58.4370894)
61                    (61, 38.9074322, -77.0350922)
62                    (62, 32.7762719, -96.7968559)
Length: 63, dtype: object
0                     (0, 37.2333253, -121.6846349)
1                      (1, 37.3361905, -121.890583)
2                      (2, 37.7790262, -122.419906)
3                     (3, 33.4255056, -111.9400091)
4                     (4, 47.6038321, -122.3300624)
                          ...
59    (59, 49.156692500000005, -122.77402374836214)
60                   (60, -34.6075682, -58.4370894)
61                    (61, 38.9074322, -77.0350922)
62                    (62, 32.7762719, -96.7968559)
63                     (63, 33.3061605, -111.84125)
Length: 64, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
60    (60, -34.6075682, -58.4370894)
61     (61, 38.9074322, -77.0350922)
62     (62, 32.7762719, -96.7968559)
63      (63, 33.3061605, -111.84125)
64     (64, 41.8755616, -87.6244212)
Length: 65, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
61    (61, 38.9074322, -77.0350922)
62    (62, 32.7762719, -96.7968559)
63     (63, 33.3061605, -111.84125)
64    (64, 41.8755616, -87.6244212)
65    (65, 42.3750997, -71.1056157)
Length: 66, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
62     (62, 32.7762719, -96.7968559)
63      (63, 33.3061605, -111.84125)
64     (64, 41.8755616, -87.6244212)
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
Length: 67, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
63      (63, 33.3061605, -111.84125)
64     (64, 41.8755616, -87.6244212)
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
Length: 68, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
64     (64, 41.8755616, -87.6244212)
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
68     (68, 43.6166163, -116.200886)
Length: 69, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
65     (65, 42.3750997, -71.1056157)
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
68     (68, 43.6166163, -116.200886)
69     (69, 37.226611, -121.9746797)
Length: 70, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
66    (66, 33.8752945, -117.5664449)
67    (67, 47.6694141, -122.1238767)
68     (68, 43.6166163, -116.200886)
69     (69, 37.226611, -121.9746797)
70     (70, 30.2489634, 120.2052342)
Length: 71, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
67    (67, 47.6694141, -122.1238767)
68     (68, 43.6166163, -116.200886)
69     (69, 37.226611, -121.9746797)
70     (70, 30.2489634, 120.2052342)
71    (71, 37.2333253, -121.6846349)
Length: 72, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
68     (68, 43.6166163, -116.200886)
69     (69, 37.226611, -121.9746797)
70     (70, 30.2489634, 120.2052342)
71    (71, 37.2333253, -121.6846349)
72        (72, 51.4392648, 5.478633)
Length: 73, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
69     (69, 37.226611, -121.9746797)
70     (70, 30.2489634, 120.2052342)
71    (71, 37.2333253, -121.6846349)
72        (72, 51.4392648, 5.478633)
73     (73, 37.7790262, -122.419906)
Length: 74, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
70     (70, 30.2489634, 120.2052342)
71    (71, 37.2333253, -121.6846349)
72        (72, 51.4392648, 5.478633)
73     (73, 37.7790262, -122.419906)
74      (74, 35.8831786, -80.081817)
Length: 75, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
71    (71, 37.2333253, -121.6846349)
72        (72, 51.4392648, 5.478633)
73     (73, 37.7790262, -122.419906)
74      (74, 35.8831786, -80.081817)
75     (75, 37.2166779, -93.2920373)
Length: 76, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
72       (72, 51.4392648, 5.478633)
73    (73, 37.7790262, -122.419906)
74     (74, 35.8831786, -80.081817)
75    (75, 37.2166779, -93.2920373)
76    (76, 47.6144219, -122.192337)
Length: 77, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
73     (73, 37.7790262, -122.419906)
74      (74, 35.8831786, -80.081817)
75     (75, 37.2166779, -93.2920373)
76     (76, 47.6144219, -122.192337)
77    (77, 37.2333253, -121.6846349)
Length: 78, dtype: object

0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
74      (74, 35.8831786, -80.081817)
75     (75, 37.2166779, -93.2920373)
76     (76, 47.6144219, -122.192337)
77    (77, 37.2333253, -121.6846349)
78       (78, 43.157285, -77.615214)
Length: 79, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
75     (75, 37.2166779, -93.2920373)
76     (76, 47.6144219, -122.192337)
77    (77, 37.2333253, -121.6846349)
78       (78, 43.157285, -77.615214)
79     (79, 31.2322758, 121.4692071)
Length: 80, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
76     (76, 47.6144219, -122.192337)
77    (77, 37.2333253, -121.6846349)
78       (78, 43.157285, -77.615214)
79     (79, 31.2322758, 121.4692071)
80     (80, 37.3361905, -121.890583)
Length: 81, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
77          (77, 37.2333253, -121.6846349)
78             (78, 43.157285, -77.615214)
79           (79, 31.2322758, 121.4692071)
80           (80, 37.3361905, -121.890583)
81    (81, 41.0195135, -73.71116374834502)
Length: 82, dtype: object
0            (0, 37.2333253, -121.6846349)
1             (1, 37.3361905, -121.890583)
2             (2, 37.7790262, -122.419906)
3            (3, 33.4255056, -111.9400091)
4            (4, 47.6038321, -122.3300624)
                      ...
78             (78, 43.157285, -77.615214)
79           (79, 31.2322758, 121.4692071)
80           (80, 37.3361905, -121.890583)
81    (81, 41.0195135, -73.71116374834502)
82          (82, 32.7174202, -117.1627728)
Length: 83, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
79                   (79, 31.2322758, 121.4692071)
80                   (80, 37.3361905, -121.890583)
81            (81, 41.0195135, -73.71116374834502)
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
Length: 84, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
80                   (80, 37.3361905, -121.890583)
81            (81, 41.0195135, -73.71116374834502)
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
Length: 85, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
81            (81, 41.0195135, -73.71116374834502)
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
85                   (85, 40.7127281, -74.0060152)
Length: 86, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
82                  (82, 32.7174202, -117.1627728)
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
85                   (85, 40.7127281, -74.0060152)
86                  (86, 47.7598697, -122.2068288)
Length: 87, dtype: object
0                    (0, 37.2333253, -121.6846349)
1                     (1, 37.3361905, -121.890583)
2                     (2, 37.7790262, -122.419906)
3                    (3, 33.4255056, -111.9400091)
4                    (4, 47.6038321, -122.3300624)
                          ...
83    (83, 41.065585999999996, -73.86732932133876)
84                  (84, 37.6261715, -122.4332435)
85                   (85, 40.7127281, -74.0060152)
86                  (86, 47.7598697, -122.2068288)
87                   (87, 37.7790262, -122.419906)
Length: 88, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
84    (84, 37.6261715, -122.4332435)
85     (85, 40.7127281, -74.0060152)
86    (86, 47.7598697, -122.2068288)
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
Length: 89, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
85     (85, 40.7127281, -74.0060152)
86    (86, 47.7598697, -122.2068288)
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
Length: 90, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
86    (86, 47.7598697, -122.2068288)
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
Length: 91, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
87     (87, 37.7790262, -122.419906)
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
Length: 92, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
88    (88, 33.6856969, -117.8259819)
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
92     (92, 32.7762719, -96.7968559)
Length: 93, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
89    (89, 47.6038321, -122.3300624)
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
92     (92, 32.7762719, -96.7968559)
93     (93, 47.6144219, -122.192337)
Length: 94, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
90    (90, 37.3893889, -122.0832101)
91     (91, 30.2711286, -97.7436995)
92     (92, 32.7762719, -96.7968559)
93     (93, 47.6144219, -122.192337)
94     (94, 38.9583737, -77.3579805)
Length: 95, dtype: object

0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
91    (91, 30.2711286, -97.7436995)
92    (92, 32.7762719, -96.7968559)
93    (93, 47.6144219, -122.192337)
94    (94, 38.9583737, -77.3579805)
95     (95, 40.7215682, -74.047455)
Length: 96, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
92    (92, 32.7762719, -96.7968559)
93    (93, 47.6144219, -122.192337)
94    (94, 38.9583737, -77.3579805)
95     (95, 40.7215682, -74.047455)
96    (96, 42.3602534, -71.0582912)
Length: 97, dtype: object
0     (0, 37.2333253, -121.6846349)
1      (1, 37.3361905, -121.890583)
2      (2, 37.7790262, -122.419906)
3     (3, 33.4255056, -111.9400091)
4     (4, 47.6038321, -122.3300624)
                  ...
93    (93, 47.6144219, -122.192337)
94    (94, 38.9583737, -77.3579805)
95     (95, 40.7215682, -74.047455)
96    (96, 42.3602534, -71.0582912)
97    (97, 41.8755616, -87.6244212)
Length: 98, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
94     (94, 38.9583737, -77.3579805)
95      (95, 40.7215682, -74.047455)
96     (96, 42.3602534, -71.0582912)
97     (97, 41.8755616, -87.6244212)
98    (98, 37.6624312, -121.8746789)
Length: 99, dtype: object
0      (0, 37.2333253, -121.6846349)
1       (1, 37.3361905, -121.890583)
2       (2, 37.7790262, -122.419906)
3      (3, 33.4255056, -111.9400091)
4      (4, 47.6038321, -122.3300624)
                   ...
95      (95, 40.7215682, -74.047455)
96     (96, 42.3602534, -71.0582912)
97     (97, 41.8755616, -87.6244212)
98    (98, 37.6624312, -121.8746789)
99     (99, 44.9772995, -93.2654692)
Length: 100, dtype: object
0       (0, 37.2333253, -121.6846349)
1        (1, 37.3361905, -121.890583)
2        (2, 37.7790262, -122.419906)
3       (3, 33.4255056, -111.9400091)
4       (4, 47.6038321, -122.3300624)
                    ...
96      (96, 42.3602534, -71.0582912)
97      (97, 41.8755616, -87.6244212)
98     (98, 37.6624312, -121.8746789)
99      (99, 44.9772995, -93.2654692)
100    (100, 37.3361905, -121.890583)
Length: 101, dtype: object
0       (0, 37.2333253, -121.6846349)
1        (1, 37.3361905, -121.890583)
2        (2, 37.7790262, -122.419906)
3       (3, 33.4255056, -111.9400091)
4       (4, 47.6038321, -122.3300624)
                    ...
97      (97, 41.8755616, -87.6244212)
98     (98, 37.6624312, -121.8746789)
99      (99, 44.9772995, -93.2654692)
100    (100, 37.3361905, -121.890583)
101    (101, 37.3361905, -121.890583)
Length: 102, dtype: object

In [10]:
coordinates_s.head(20)

0              (0, 37.2333253, -121.6846349)
1               (1, 37.3361905, -121.890583)
2               (2, 37.7790262, -122.419906)
3              (3, 33.4255056, -111.9400091)
4              (4, 47.6038321, -122.3300624)
5              (5, 34.1705609, -118.8375937)
6               (6, 39.9622601, -83.0007065)
7                (7, 42.194543, -71.1994976)
8               (8, 40.2625702, -80.1872797)
9                (9, 36.167269, -115.245979)
10            (10, 37.2333253, -121.6846349)
11      (11, 51.40770635, 5.392731058176404)
12    (12, -33.91840985, 150.99831672965283)
13            (13, 37.9735346, -122.5310874)
14             (14, 34.084745, -118.3845421)
15             (15, 40.8206555, -74.2937595)
16               (16, 52.2055314, 0.1186637)
17             (17, 37.3361905, -121.890583)
18              (18, 39.906217, 116.3912757)
19             (19, 42.3750997, -71.1056157)
dtype: object

In [13]:
# separate longitude and latitude into different series and without index
longitude = []
latitude = []
for geo in GeoSearch:
    address = geo
    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

    response = requests.get(url).json()
    results1 = response[0]["lon"]
    results2 = response[0]["lat"]
    longitude.append(results1)
    latitude.append(results2)
    longitude_s = pd.Series(longitude)
    latitude_s = pd.Series(latitude)

In [14]:
longitude_s.head()

0    -121.6846349
1     -121.890583
2     -122.419906
3    -111.9400091
4    -122.3300624
dtype: object

In [15]:
latitude_s.head()

0    37.2333253
1    37.3361905
2    37.7790262
3    33.4255056
4    47.6038321
dtype: object

In [17]:
stocks_df.head()

,ticker,name,open,close,change,% change,city,state,country
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US

In [18]:
stocks_df["latitude"] = latitude_s

In [20]:
stocks_df["longitude"] = longitude_s

In [21]:
stocks_df.head()

,ticker,name,open,close,change,% change,city,state,country,latitude,longitude
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,37.2333253,-121.6846349
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,37.3361905,-121.890583
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,37.7790262,-122.419906
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,33.4255056,-111.9400091
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,47.6038321,-122.3300624